:root {
	--bckgrnd-clr: #ffffff34;
	--card-clr: rgb(187, 8, 133);
	--text-clr: #fff;
}

*{
	box-sizing: border-box;
}

body{
background-color: rgb(66, 65, 65);
}

header{
	background-color:  rgb(66, 65, 65);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100px;
}

h1{
	color: rgb(187, 8, 133);
	font-size: 40px;
}

header p{
	color: white;
}

main{
	background-color: rgb(66, 65, 65);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.card{
	background-color:  rgb(66, 65, 65);
	border: dotted 5px white;
	display: flex;
	flex-direction: column;
	width: 27%;
	height: 600px;
	margin: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.card h2{
	border:rgb(187, 8, 133);
	font-size: 30px;
}

.card p{
	color:white;
}

.card pre{
	background-image: linear-gradient(rgb(187, 8, 133, 0.3) 0%, rgb(187, 8, 133, 0.6) 100%);
	width: 90%;
	height: 66%;
}